.bs-example{
	width: 85%;
	margin:0 auto;
}

#add_page span, #edit_page span{
	font-size: 230px;
    padding-top:20px;
}

#add_page input, #send_page input{
	padding: 3px;
}

#add_page span, #send_page span{
	color: #222222;
}

#add_page h4{
	color: #222222;
	font-weight: bold;
}
#add_page {
    width: 70%;
    height:80%;
    margin: 0 auto;
    padding:0;
    background-color: #ffffff;
    border-radius: 10px;
}

#send_page {
    width: 60%;
    height:80%;
    margin: 0 auto;
    padding:0;
    background-color: #ffffff;
    border-radius: 10px;
}


input#save{
    border-radius: 5px;
    border-color: #337ab7;
    width:30%;
    height: 30px;
    color: #fff;
    margin: 20px 0px 0px 10px;
    background-color: #337ab7;
  }

