    @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
    html {
      padding: 0px;
      
    }
    body {
      height: 100%;
      opacity : 1;
      padding-top: 60px;
      background-image: url('../img/bak.jpeg');
      background-size: 80% 70%;
      background-color: rgba( 255, 255, 255, 0.0 );

    }
    .nav-pills>li>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #337ab7;
    }


    


    .floating {

      position: fixed; 
      right: 50%; 
      top: 180px; 
      float: right;
      margin-right: -45%;
      text-align:center;
      width:100px;
      -webkit-border-radius: 8px;
    }
    .floating div:nth-child(1){
     width: 100%;
     height: 100%;
     padding: 10px;
     margin-bottom: 30px;
     border:3px solid #ffffff;
     border-radius: 50px;
   }
   .floating div:nth-child(2){
     width: 100%;
     height: 100%;
     padding: 10px;
     margin-bottom: 30px;
     border:3px solid #ffffff;
     border-radius: 50px;
   }
   .floating div:nth-child(3){
     width: 100%;
     height: 100%;
     padding: 10px;
     margin-bottom: 30px;
     border:3px solid #ffffff;
     border-radius: 50px;
   }




   /* 전체 내용을 감쌈 */
   .container-narrow {
    margin: 0 auto;
    max-width: 60%;
    height: 1000px
  }
  .container-narrow > hr {
    margin: 30px 0;
  }

  /* 핵심 마케팅 문구와 가입 버튼 */
  .jumbotron {
    background-color: rgba( 255, 255, 255, 0.3 );
    margin: 60px 0;
    text-align: center;
    border-style: solid 10px;
    border-radius: 10px 10px
  }
  .jumbotron h1 {
    font-size: 72px;
    line-height: 1;
  }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
  .glyphicon { margin-right:5px; }

  .thumbnail span{
    font-size: 130px; 
    margin-bottom:5px; 
    color : #ffffff; 
    background-color : #000000;
    width:100%
  }

  .thumbnail .caption span{

    cursor: pointer;
    font-size:20px; 
    background-color: #ffffff; 
    color : #000000; 
    width : 20px

  }

  input#search {
    border-radius: 5px;
    border-color: #337ab7;
    width:10%;
    height: 30px;
    color: #fff;
    margin-left: 10px;
    background-color: #337ab7;
  }


  