<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>ADDRESS BOOK</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- 스타일 -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap2-toggle.min.css" rel="stylesheet">

  <!-- javascript -->
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap2-toggle.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        

  <!-- IE6~8에서 HTML5 태그를 지원하기위한 HTML5 shim -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
      <![endif]-->
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/icon.png')}}" />
    </head>

    <body>

      <div class="container-narrow">
        {% block body %}
        <div class="masthead">
          <ul class="nav nav-pills pull-right">
            <li><a href="{{ url_for('main')}}">연락처</a></li>
            <li id = "call_menu"><a href="{{ url_for('call_hist', status=3 )}}">통화기록</a></li>
            <li id="sms_menu"><a href="{{ url_for('sms_hist')}}">문자기록</a></li>
          </ul>
          <h1 class="muted" style= "color : #ffffff">Termp 4</h3>
        </div>

        <hr>

        

          

          
        </div>

        {% endblock %}
        <hr>

        <div class="footer">
          <p style="color : #ffffff">&copy; 서유림, 이정훈</p>
        </div>


      </div> <!-- /container -->

    <!-- 자바스크립트
    ================================================== -->
    <!-- 페이지를 빨리 읽어들이도록 문서 마지막에 배치 -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
  </html>
