<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>ADDRESS BOOK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

   <!-- 스타일 -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">


  <!-- javascript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/icon.png')}}" />


  </head>

    <body>

      <div class="floating">
        <div>
          <p><span class="glyphicon glyphicon-envelope" aria-hidden="true" style="font-size: 30px ;color : #ffffff"> MSG</span></p>
        </div>
        <div>
          <p> <a href="{{ url_for('searchResult')}}">  <span class="glyphicon glyphicon-earphone" aria-hidden="true" style=" font-size: 30px;color : #ffffff"> Call</span></a></p>

        </div>
        <div> 
          <p> <a href="{{ url_for('addPerson')}}"> <span class="glyphicon glyphicon-plus" aria-hidden="true"; style=" font-size: 30px;color : #ffffff" > Add</span></a></p>
          
          
        </div>
      </div>

      <div class="container-narrow">

        <div class="masthead">
          <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">연락처</a></li>
            <li><a href="{{ url_for('call_hist')}}">통화기록</a></li>
            <li><a href="{{ url_for('sms_hist')}}">문자기록</a></li>
          </ul>
          <h1 class="muted" style= "color : #ffffff">Termp 4</h1>
        </div>

        <hr>

        <div class="jumbotron">
          <form action = "{{ url_for('main') }}" method="POST" style="margin : -7px 0px 30px 0px">
            <span class="glyphicon glyphicon-search" aria-hidden="true" style="font-size: 30px ;"> </span>
            <input type="text" name="keyword" size="60" placeholder="검색어를 입력하시오" style="padding:2px;">
            <input type="submit" name="send" value="검색" id = "search" >
          </form>


          <div class="container">
            <div id="products" class="row list-group">

            {% for p in person %}
            <form action='{{request.path}}' method='POST'">
              <div class="item  col-xs-4 col-lg-4" style="margin-bottom:10px">
                <div class="thumbnail">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"> </span>

                  <div class="caption" style="padding:0px;"">
                    <h4 class="group inner list-group-item-heading" style="font-weight:bold">{{ p[1] }}</h4>
                    <p class="group inner list-group-item-text">
                      <label for number>phone number : <br>
                      {{ p[2] }}

                      </label>
                    </p>
                    <p class="group inner list-group-item-text" style="margin : 0px">
                      email : <br>
                      {{ p[3] }}
                    </p>

                    <p id="side_menu" style="margin:0px">
                      <span class="glyphicon glyphicon-earphone" aria-hidden="true" style="margin-right:27px"></span>
                      <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="margin-right:27px"></span>
                      <a href="{{ url_for('editUser', id=p[0])}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="margin-right:27px")"></span></a>
                      <span class="glyphicon glyphicon-trash" aria-hidden="true" onclick="asking({{(p[0])}})"></span>
                    </p>
                   
                  </div>
                </div>
              </div>

            </form>

            {% endfor %}

            </div>
          </div>


        </div>

        <hr>

        <div class="footer" style="margin-bottom : 30px">
         <p style="color : #ffffff">&copy; 서유림, 이정훈</p>
       </div>

    </div> <!-- /container -->
    
    <!-- 자바스크립트
    ================================================== -->
    <!-- 페이지를 빨리 읽어들이도록 문서 마지막에 배치 -->
    
  </body>
  </html>
