{% extends "history.html" %}
{% block body %}

<div class="masthead">
    <ul class="nav nav-pills pull-right">
        <li><a href="{{ url_for('main')}}">연락처</a></li>
        <li><a href="{{ url_for('call_hist')}}">통화기록</a></li>
        <li class="active"><a href="{{ url_for('sms_hist')}}">문자기록</a></li>
    </ul>
    <h1 class="muted" style= "color : #ffffff">Termp 4</h3>
</div>

<hr>

<div class="jumbotron">

    <div class="bs-example">
        <div class="list-group">
            <a href = "#" class = "list-group-item active">
               Text Messages
           </a>

            {% for s in sms %}
            <a href = "#" class = "list-group-item">
                Number : {{ s[1] }} <br>
                Content : {{ s[3]}}
            </a>

            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}